<div class="container-fluid py-4">
    <% if(data.length) {
        for(var i = 0; i< data.length; i++) { %>
    <div class="card mb-4">
        <div class="card-body p-4">
            <form action="/form-edit-status/<%= data[i].id_status %>" method="post">
                <a href="/master-data" class="bg-info px-2 py-2  rounded shadow-md text-white text-xs">
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="white" class="w-2 h-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                    </svg> Back
                </a>
                <h6 class="text-center">INPUT STATUS BARU</h6>
                <hr class="horizontal dark mb-3">
                <div class="mb-3">
                    <label for="status">Nama Status</label>
                    <input type="text" name="status" id="status" class="form-control" value="<%= data[i].status %>" required>
                </div>
                <input type="submit" value="Submit" class="btn text-white bg-primary w-100 mt-4 mb-0"></input>
            </form>
        </div>
    </div>
    <% }
    } %>
 </div>
  
