<div class="container-fluid py-4">
  <div class="card mb-4 px-1">
    <div class="card-header pb-0">
      <div class="row">
        <div class="col-lg-4 col-sm-3 py-3">
          <a href="/data-pegawai" class="bg-info px-2 py-2  rounded shadow-md text-white text-xs"> 
            <svg fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="white" class="w-xl-6 h-xl-6 w-sm-15 h-sm-15 mb-1">
              <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
            </svg> Back
          </a>
        </div>
        <% if(data.length) { %>
          <% for(var i = 0; i< 1; i++) { %>                    
          <div class="col-lg-6 col-sm-6 d-flex align-items-center">
              <h5 class="text-center">DAILY ACTIVITIES - <%= data[i].nama.toUpperCase() %></h5>
          </div>
          <div class="col-lg-2 col-sm-2 py-sm-3 mx-sm-0 d-flex align-items-center">
              <a href="/print-activity-pegawai/<%= data[i].id_user %>" target="_blank" class="btn btn-info px-0 py-2">
                  <svg fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-xl-15 h-xl-15 w-sm-20 h-sm-20 me-1 ">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6.72 13.829c-.24.03-.48.062-.72.096m.72-.096a42.415 42.415 0 0110.56 0m-10.56 0L6.34 18m10.94-4.171c.24.03.48.062.72.096m-.72-.096L17.66 18m0 0l.229 2.523a1.125 1.125 0 01-1.12 1.227H7.231c-.662 0-1.18-.568-1.12-1.227L6.34 18m11.318 0h1.091A2.25 2.25 0 0021 15.75V9.456c0-1.081-.768-2.015-1.837-2.175a48.055 48.055 0 00-1.913-.247M6.34 18H5.25A2.25 2.25 0 013 15.75V9.456c0-1.081.768-2.015 1.837-2.175a48.041 48.041 0 011.913-.247m10.5 0a48.536 48.536 0 00-10.5 0m10.5 0V3.375c0-.621-.504-1.125-1.125-1.125h-8.25c-.621 0-1.125.504-1.125 1.125v3.659M18 10.5h.008v.008H18V10.5zm-3 0h.008v.008H15V10.5z" />
                  </svg> Print           
              </a>
            </div>
            <% } %>
          <% } %>
        </div>
        <div class="card-body p-3 mb-5">
        <div class="table-responsive px-3 py-0">
          <table class="table border mb-0">
            <thead>
                <tr>
                    <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder p-3 border">Tanggal</th>
                    <th class="text-uppercase text-center text-secondary text-xs font-weight-bolder p-3 border ">Detail Aktivitas</th>
                </tr>
            </thead>
            <tbody>
            <% if(data.length) { %>
                <% for(var i = 0; i< data.length; i++) { %>                    
                <tr>
                    <td class="text-center text-xs p-3 border"> <%= data[i].tgl.toUTCString().slice(0,16) %> </td>
                    <td class="text-xs p-3 border"> <%= data[i].detail.toUpperCase() %> </td>
                </tr>
                <% } %>
            <% }else if(!data.length){ %>
                <tr>
                    <th class="text-center text-xs p-3 border" colspan="2">No Data Found!</th>
                </tr>
            <% } %>
            </tbody>
          </table>
        </div>
      </div>
  </div>