<div class="container-fluid py-4">
    <% if(data.length) { 
        for(var i = 0; i< data.length; i++) { %>
    <div class="card mb-4">
        <div class="card-body p-4">
            <form role="form" action="/form-edit-activity/<%= data[i].id_activity %>" method="post">
                <a href="/daily-activity" class="bg-info px-2 py-2  rounded shadow-md text-white text-xs">
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="white" class="w-2 h-2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
                    </svg> Back
                </a>
                <h6 class="text-center">EDIT DAILY ACTIVITY</h6>
                <hr class="horizontal dark mb-3">
                <div class="mb-3">
                    <label for="tgl">Tanggal Kegiatan</label>
                    <input type="date" name="tgl" id="tgl" class="form-control" value="<%= data[i].tgl.toISOString().slice(0,10) %>" required>
                </div>
                <div class="mb-3">
                    <label for="detail">Agenda</label>
                    <textarea class="form-control" name="detail" id="daily_activity" cols="30" rows="10" required><%= data[i].detail %></textarea>
                </div>
                <input type="submit" value="Submit" class="btn text-white bg-primary w-100 mt-4 mb-0"></input>
            </form>
        </div>
    </div>
        <% }
    } %>
 </div>
  
