<div class="container-fluid py-4">
    <% if (messages.success) { %>
        <div class="alert alert-success mb-3 text-xxs text-white" role="alert"><%- messages.success %></div>
    <% } %>                
    <% if (messages.error) { %>
        <div class="alert alert-danger mb-3 text-xxs text-white" role="alert"><%- messages.error %></div>
    <% } %>                
    <div class="card mb-4">
        <div class="card-body p-4">
            <form action="/form-ubah-password" method="post">
                <h6 class="text-center">MASUKKAN PASSWORD LAMA</h6>
                <hr class="horizontal dark mb-3">
                <div class="mb-3">
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>
                <input type="submit" value="Submit" class="btn text-white bg-primary w-100 mt-4 mb-0"></input>
            </form>
        </div>
    </div>
 </div>
  
